# HuggingFace CSV source
HF_CSV_URL=https://huggingface.co/datasets/Censius-AI/ECommerce-Women-Clothing-Reviews/resolve/main/Womens%20Clothing%20E-Commerce%20Reviews.csv

# PostgreSQL connection settings
PGHOST=localhost
PGPORT=5432
PGDATABASE=de_ai
PGUSER=de_user
PGPASSWORD=change_me
